
span.btn-sel{
	font-weight:bold;
	background-color: #d9e2f4 !important;
}

.addthis_inline{
	display:inline !important;
}
/* Menu */
/*.grp-menu{background: transparent url(/reader/ui/3607832474-entry-action-icons.png) no-repeat;padding: 1px 8px 1px 16px;}*/
.grp-menu{background: transparent url(/reader/ui/3660573864-lhn-sprite.png) no-repeat;padding: 1px 8px 1px 16px;}
.grp-menu-checked{background-position:-80px -160px;}
.grp-menu-unchecked{background-position:-64px -128px;}

/* Hide marks as read scroll */
.grp-marp .entry-container,.grp-marp .entry-comments,.grp-marp .entry-actions{
	display:none !important;
}
/*
.grp-mark-scrolled .collapsed{
	background-color:yellow !important;
}*/
.entry.split-date{
	margin-top:100px;
}
.entry.split-date .entry-date{
	position:absolute;
	top:0;
	right:200px;
}

div#loading-area{
	height:auto;
}
